<div class="form-container">
    <h2>Formulario</h2>
    <form class="form-style-4" method="post" action="/products">
        <label>Nombre</label>
        <input type="text" name="nombre"/>
        <br>
        <label>Precio</label>
        <input type="number" name="precio"/>
        <br>
        <label>Imagen URL</label>
        <input type="text" name="imagen"/>
        <br>
        <br>
        <button class="button"type="submit">Enviar</button>
    </form>
</div>