<div class="lista">
  {{#if products.length}}
    <h2>Listado de Productos</h2>
  
    <table style="width:60%">
  <tr>
    <th>Nombre</th>
    <th>Precio</th>
    <th>Imagen</th>
  </tr>
  {{#each products}}
  <tr>
    <td>{{this.nombre}}</td>
    <td>{{this.precio}}USD</td>
    <td><img class="logo" src="{{this.img}}"/></td>
  </tr> 
  {{/each}}
    </table>
  {{else}}
  <h2>No se encontraron productos</h2>
  {{/if}}
</div>